.logo {
    height: 100px;
    width: 100px;
    background: url("https://i.imgur.com/gPVL8lY.png");
    margin: auto;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
    }
    .title {
    margin-top: 10px;
    font-weight: 900;
    font-size: 1.8rem;
    color: #1DA1F2;
    letter-spacing: 1px;
    }
    label, input, button {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    }
    label {
    margin-bottom: 4px;
    }
    label:nth-of-type(2) {
    margin-top: 12px;
    }
    input::placeholder {
    color: gray;
    }
    input {
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
    }
    .inputs {
    text-align: left;
    margin-top: 30px;
    }
    .evaluate {
    border: none;
    color: white;
    background-color: #45a049;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    }
    .evaluate:hover {
    background-color: #155218;
    }
    div.container {
    border-radius: 5px;
    width: 400px;
    background-color: #f2f2f2;
    padding: 20px;
    padding-top: 5px;
    }
    body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: #ecf0f3;
    background-color: #a3cded;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    place-items: center;
    overflow: hidden;
    }
    h2 {
    color: rgb(157, 37, 37);
    font-family: verdana;
    font-size: 300%;
    }
    .reset {
    visibility: hidden;
    font-family: verdana;
    }